.footer-styles {
	background-color: #737373 !important;
	color: #d9d9d9 !important;
}

.brand-styles {
	color: #98e163 !important;
	font-family: Source Sans Pro, SansSerif;

}

section.home-hero {
	background-image: url("./image/black-bike.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 110vh;
	margin-bottom: 20px;

}

/* header fonts */
h1 {
	color:white;
	font-family: Source Sans Pro, SansSerif;
}
h2 {color: #737373;
	font-family: Roboto-thin, SansSerif;
}
h3 {color: white;
	font-family: Roboto-thin, SansSerif;

}


/* ROUTE PAGE */
#map-wrapper {
	min-height: 600px;
	background-color: green;
	margin-bottom: 20px;
}

/* About Us Section */
#about-wrapper {
	padding-top: 10px;
	margin-left: 90px;
	margin-right: 90px;
}
#container-fluid{
	background-color: #737373;
	padding-top: 50px;
}
#card-wrapper {
	padding-top: 50px;
}
#about {
	margin-bottom: 50px;
}
card.text-muted {
	color: #98e163
}


/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

