<phpunit>
	<testsuites>
		<testsuite name="Twitter Data Design">
			<file>UserTest.php</file>
			<file>RouteTest.php</file>
			<file>CommentTest.php</file>
			<file>FavoriteRouteTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>